name: weibo-trending-hot-search

on:
  workflow_dispatch: # 手动触发
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Set time zone
        run: sudo timedatectl set-timezone 'Asia/Shanghai'
      - uses: actions/checkout@v2.3.4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r wb/requirements.txt; fi
      - name: Run
        run: python3 wb/main.py
      - name: Commit files
        run: |
          git config --local user.email "chsking@yandex.com"
          git config --local user.name "chsking"
          git add .
          git commit -m "update by github action"
      - name: 推送更改
        uses:  ad-m/github-push-action@master
        with:
         force_with_lease: true
